<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.runningsnail.snailapp">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >


        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.AnimalListActivity"/>
        <activity android:name=".activity.SystemSupportActivity"/>
        <activity android:name=".activity.ServiceActivity"/>
        <activity android:name=".activity.HomeActivity"/>
        <activity android:name=".activity.CameraActivity"/>
        <activity android:name=".activity.PreviewActivity"/>
        <activity android:name=".activity.CustomViewDemoActivity"/>


        <!-- 配置Service组件,同时配置一个action -->
        <service android:name=".service.TestService">
            <intent-filter>
                <action android:name="com.jay.example.service.TEST_SERVICE1"/>
            </intent-filter>
        </service>
    </application>

</manifest>